.banner {
    position: relative;
}

.banner__container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    background-image: url("../../assets/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.banner__titulo {
    font-size: 24px;
    color: var(--branco);
    background-color: var(--cinza);
    padding: 1em;
    
    position: relative;
    margin: 1em;
    width: 60%;
}

.banner__texto {
    color: var(--branco);
    background-color: var(--cinza);
    position: relative;
    padding: 0.5em;
    margin-top: 30%;
    font-family: var(--fonte-projeto);
    text-transform: uppercase;
    font-size: 16px;
}

.banner__titulo__link {
    text-decoration: none;
    color: var(--branco);
}

.lista-redes__container {
    position: relative;
}
.lista-redes {
    display: flex;
}

.lista-redes__icones {
    width: 32px;
    padding: 0.5em;
    margin: 0.5em;
    background-color: var(--branco-fundo);
    border-radius: 15px;
    margin-bottom: 5em;
}

@media screen and (min-width: 1728px) {
    .banner__container {
        background-image: url("../../assets/banner-desktop.jpg");
    }

    .banner__titulo {
        font-size: 28px;
        width: 20%;
    }

    .banner__titulo__link:hover {
        color: var(--preto);
    }

    .banner__texto {
        font-size: 20px;
    }


}