.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.cabecalho__logo {
    width: 50px;
    padding: 0.5em;
    border-radius: 50%;
}

.cabecalho__titulo {
    font-size: 28px;
    padding: 0.5em;
}

.cabecalho__menu-hamburguer {
    padding-left: 0.5em;
}

.cabecalho__lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 70%;
    
}

.cabecalho__lista-menu__item {
    background-color: var(--branco);
    font-size: 24px;
    text-align: end;
    padding: 0.3em;
}

.cabecalho__lista-menu__link {
    text-decoration: none;
    color: var(--preto);
}

.cabecalho__input:checked~.cabecalho__lista-menu {
    display: block;
}

.cabecalho__input {
    display: none;   
}

.cabecalho__titulo__projeto-unidade {
    display: none;
}

.desktop__cabecalho__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__titulo__projeto-unidade {
        display: block;
        position: absolute;
        font-size: 32px;
        margin-left: 70px;
    }
}

@media screen and (min-width: 1728px) {
    .desktop__cabecalho__lista {
        display: flex;
        margin-right: 30%;
    }

    .desktop__cabecalho__item {
        font-size: 26px;
        padding: 0.3em;
    }

    .desktop__cabecalho__link {
        text-decoration: none;
        color: var(--preto);
        padding: 0.7em;
    }

    .desktop__cabecalho__link:hover {
        background-color: var(--preto);
        color: var(--branco);
    }

    .cabecalho__label {
        display: none;
    }
}