.produtos__container {
    text-align: center;
}

.produtos__titulo {
    font-size: 32px;
    padding: 1em 0 0.5em;
}

.produtos__imagem {
    width: 100%;
}

.produtos__texto {
    padding: 0.5em 0 1em;
}

@media screen and (min-width: 1024px) {
    .produtos__imagem {
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    .produtos__imagem {
        width: 30%;
    }

    .produtos__texto {
        font-size: 22px;
    }
}