@import url("styles/home/header.css");
@import url("styles/home/banner.css");
@import url("styles/home/about.css");
@import url("styles/home/proximo-encontro.css");
@import url("styles/home/galeria.css");
@import url("styles/home/produtos.css");
@import url("styles/home/equipe.css");
@import url("styles/home/footer.css");
@import url("styles/proximo-encontro-page/proximo-encontro-page.css");
@import url("styles/proposito/proposito.css");
@import url("styles/galeria-page/galeria-page.css");

:root {
    --branco-fundo: #EBECEE;
    --branco-fundo-claro: #d7d7d7;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #242424;
    --marrom: #84837C;
    --fonte-projeto: 'Barlow', sans-serif;
    --fonte-principal: 'Bebas Neue', sans-serif;
}

body {
    background-color: var(--branco-fundo);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
}