.carrosel__container {
    text-align: center;
    background-color: var(--cinza);
}
.carrosel__titulo {
    font-size: 32px;
    color: var(--branco);
    padding: 1em 0 0.5em;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.galerias__container {
    background-color: var(--cinza);
    text-align: center;
}

.galerias__titulo {
    font-size: 24px;
    color: var(--branco);
    padding: 1em 0 0.5em;
}

.galerias__imagem {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .swiper-slide img {
        width: 70%;
    }

    .galerias__imagem {
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    .swiper-slide img {
        width: 50%;
    }

    .galerias__imagem {
        width: 30%;
    }

    .galerias__titulo {
        font-size: 28px;
    }
}