.produtos__container {
    background-color: var(--cinza);
    text-align: center;
}

.produtos__titulo {
    font-size: 32px;
    color: var(--branco);
}

.produtos__texto {
    color: var(--branco);
    font-family: var(--fonte-projeto);
}

.produtos__camiseta {
    background-color: var(--cinza);
    text-align: center;
}

.camiseta__titulo {
    font-size: 32px;
    color: var(--branco);
    padding: 1em 0 0.5em;
}

.camiseta__imagem {
    width: 100%;
    padding-bottom: 0.5em;
}

.camiseta__texto {
    color: var(--branco);
    padding-bottom: 0.5em;
}

@media screen and (min-width: 1024px) {
    .camiseta__imagem {
        width: 60%;
    }
}

@media screen and (min-width: 1728px) {
    .camiseta__imagem {
        width: 30%;
    }

    .camiseta__texto {
        font-size: 22px;
    }
}
